{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "commonjs": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "globalReturn": false,
      "impliedStrict": true
    },
    "allowImportExportEverywhere": false
  },
  "plugins": ["@typescript-eslint"],
  "ignorePatterns": ["*.js", "build/**/*.js"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-var": "off"
  }
}
